<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include head.html %}
  </head>

  <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
          <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
          {% include nav.html %}
        </nav>

        <!-- Main -->
        <div id="main">
          
          <!-- Library Pages -->
          <header>
            <p style="font-size: large;">{{page.description}}</p>
          </header>
          
          <section class="library_pages">
            {% for page in site.pages %}
              {% if page.hide != true %}
                {% if page.destination == 'library' %}
                  {% include entry_library.html %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </section>
          
          <!-- Library Posts -->
          <header>
            <p style="font-size: large;">Posts on my opinion and review of some of my library entries and other creative works.</p>
          </header>

          <section class="posts">
            {% for post in site.posts %}
              {% if post.hide != true %}
                {% if post.destination == 'library' %}
                  {% include entry_small.html %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </section>

          <!-- Footer -->          
          <a href="#header" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back To Top' }} &uarr;</a>
          <footer>
            <ul class="actions">
              <li><a href="{{ "/" | absolute_url }}" class="button">Home</a></li>
              <li><a href="{{ "/about/" | absolute_url }}" class="button">About Me</a></li>
            </ul>
          </footer>

        </div>

        <!-- Footer -->
        {% include foot.html %}

      </div>

    <!-- Scripts -->
    {% include scripts-main.html %}

  </body>
</html>
